<div class="text-center">
  <h2>{{emails.name}}</h2>
  
  

<div class="row mb-2 email" id="{{emails.id}}">
  <div class="col-md-8">
    <p>{{{regEmail}}}</p>
  <button class="btn btn-primary" id="button" type="submit">Templatize</button>

  </div>
</div>

</div>

<script src="/js/emails.js"></script>